.estilo{
    width: 50vw;
}
img{
    width: 100%;
}
td{
    border: 1px solid black;
    padding: 8px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
#topo{
    font-family: 'Courier New', Courier, monospace;
}
p.estilo{
    background-color: burlywood;
}

.menu > li{
    display: incline-block;
}